@import "/src/assets/styles/variables";

.filter{
    display: flex;
    height: 60px;
    padding: 40px 100px;
    background-color: $white;
    box-shadow: $light-shadow;

    input{
        width: 100%;
        margin-right: 10px;
    }

    .order{
        display: flex;
        align-items: center;

        .fa-order{
            font-size: 24px;
        }
    }

    @media (max-width: $md-start){
        padding: 40px 10px;
    }
}