.filter{
    display: flex;
    height: 60px;
    padding: 40px 100px;
    background-color: white;
    box-shadow: 0 2px 8px -2px rgb(0 0 0 / 16%);

    input{
        width: 100%;
        margin-right: 10px;
    }

    .order{
        display: flex;
        align-items: center;

        .fa-order{
            font-size: 24px;
        }
    }
}