<div class="device-manager">
    <div class="manager-form">
        <div class="title">
            <h1 *ngIf="isAddMode">New Device</h1>
            <h1 *ngIf="!isAddMode">Edit Device</h1>
        </div>
        <span *ngIf="validateForm; else allCorrect" class="invalid">
            <b>* {{validateForm}}</b>
        </span>
        <ng-template #allCorrect>
            <span class="correct" >
                <b>All fields are correct!</b>
            </span>
        </ng-template>
        <span>Name</span>
        <input type="text" [(ngModel)]="device.name">
        <span>Fee</span>
        <input type="number" step='0.01' placeholder='0.00' min="0" [(ngModel)]="device.fee">
        <span>Number of devices</span>
        <input type="number" step="1" min="1" max="100" [(ngModel)]="device.number">
        <span>Industry</span>
        <select  [(ngModel)]="device.industryId">
            <option [ngValue]="null" disabled>Select industry</option>
            <option *ngFor="let industry of industries" [ngValue]="industry.id">{{industry.name}}</option>
        </select>
        <button [disabled]="validateForm" (click)="onSave()">Save</button>
    </div>
</div>