html, body {
    height: 100vh;
    margin: 0;
}

body{
    font-family: "Vodafone",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    background-color: $gray;
}

button, a.btn{
    border: 1px solid transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 16px;
    width: 100%;
    background-color: $red;
    color: $text-white;
    font-size: 20px;
    letter-spacing: 0.5px;
    width: 100px;

    &:hover{
        background-color: $dark-red;
    }

    &:disabled{
        background-color: $dark-gray;
        cursor: default;
    }
}

input,select{
    font-family: "Vodafone",Helvetica,Arial,sans-serif;
    letter-spacing: 0.5px;
    font-size: 1rem;
    border: 1px solid transparent;
    border-bottom: 2px solid $red;
    padding: 8px 16px;
}