//Colors
$black: #000000;
$white: #FFFFFF;
$gray: #F4F4F4;
$dark-gray: #C3C3C3;
$red: #E60000;
$dark-red: #990000;
$green: #28A745;

$text-black: #333333;
$text-white: #FFFFFF;

$light-shadow: 0 2px 8px -2px rgb(0 0 0 / 16%);

//media query
$xs-max: 40rem !default;
$sm-max: 64rem !default;
$md-max: 90rem !default;
$lg-max: 120rem !default;

$sm-start: ($xs-max + 1);
$md-start: ($sm-max + 1);
$lg-start: ($md-max + 1);
$xl-start: ($lg-max + 1);